<div class="content">
	<div class="title m-4 text-center" style="font-weight: bold; font-size: 48px; color: white; ">Charging in progress
	</div>

	<div class="row mb-4">
		<div class="col-3">
			<div class="charging-box">
				<div class="title">
					STATE OF CHARGE
				</div>
				<div class="content">
					<div>{{soc | number:"1.0-0"}}<small> %</small></div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="charging-box">
				<div class="title">
					MONEY<br> SPENT
				</div>
				<div class="content">
					<div>{{money_spent | number:"1.2-2"}}<small> €</small></div>
					<div class="money-left">
						<div>
							<strong>
								{{money_left | number:"1.2-2"}}
							</strong>
							<small> €</small>
						</div>
						<div>
							Left
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="charging-box">
				<div class="title">
					CHARGING SPEED
				</div>
				<div class="content">
					<div>{{charging_power}}<small> kWh</small></div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="charging-box">
				<div class="title">
					REMAINING TIME
				</div>
				<div class="content">
					<div>{{time_remaining_min | number:"2.0-0"}}<small>:</small>{{time_remaining_sec % 60 | number:"2.0-0"}}<small> min</small></div>
				</div>
			</div>
		</div>
	</div>
	<button mat-flat-button color="primary" class="mb-4 green-button mt-auto" [routerLink]="['/home']">
		Stop charging
	</button>
</div>