@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'header';
@import 'home';
@import 'power-select';

$image-path: "../assets/img"; // image path without trailing slash

/* You can add global styles to this file, and also import other style files */
body {
  font-size: 1.5rem;
}

.bg-gradient-ev {
  background-image: url("#{$image-path}/bg.svg");
  background-size: cover;
  height: 100vh;
  z-index: -3;

}

.bg-leaf {
  height: 100vh;
  background-image: url("#{$image-path}/leaf.svg");
  background-size: cover;
  background-repeat: no-repeat;

  &.leafUp {
    background-position: 0 -690px;
  }
}

.home {
  .app-header {
    justify-content: end;
    background-color: none !important;
  }
}

.content{
  margin: 0 50px;
}
