<!DOCTYPE html>
<html>
<head>
  <title>Table with Divs</title>
</head>
<body>
<div id="main">
  <div id="thresholds">
    <label for="ov_threshold">OV threshold =></label>
    <input type="text" id="ov_threshold">
    <label style="padding-left: 50px" for="uv_threshold">UV threshold <=</label>
    <input type="text" id="uv_threshold">
  </div>
  <div id="table-container"></div>
  <div id="alerts" style="margin-top: 150px; width: 100%; text-align: center">
    <span>status1: </span><span id="321" style="margin-right: 30px"></span>
    <span>status2: </span><span id="322" style="margin-right: 30px"></span>
    <span>status3: </span><span id="323" style="margin-right: 30px"></span>
    <span>fmea1: </span><span id="324" style="margin-right: 30px"></span>
    <span>fmea2: </span><span id="325" style="margin-right: 30px"></span>
    <span>alrtsum: </span><span id="326" style="margin-right: 30px"></span>
    <span>alrtovcell: </span><span id="327" style="margin-right: 30px"></span>
    <span>alrtuvcell: </span><span id="328" style="margin-right: 30px"></span>
    <span>alrtauxprtctreg: </span><span id="329" style="margin-right: 30px"></span>
    <span>alrtauxov: </span><span id="330" style="margin-right: 30px"></span>
    <span>alrtauxuv: </span><span id="331" style="margin-right: 30px"></span>
    <span>alrtcompov: </span><span id="332" style="margin-right: 30px"></span>
    <span>alrtcompuv: </span><span id="333" style="margin-right: 30px"></span>
    <span>alrtcompauxov: </span><span id="334" style="margin-right: 30px"></span>
    <span>alrtcompauxuv: </span><span id="335" style="margin-right: 30px"></span>
    <span>alrtbalsw: </span><span id="336" style="margin-right: 30px"></span>
  </div>
</div>
</body>
</html>
