<div class="content" style="margin-top: 30px;">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Selected
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-power selected-power">
            <div class="green-side">
              <div class="top">
                CHARGING SPEED
              </div>
              <div class="bottom">
                <img src="../../assets/img/lightning-blue.svg" height="60">
                <span class="bigFont">
                  {{sharedService.power.power}}
                </span>
                kW
              </div>
            </div>
            <div class="white-side">
              <div class="top">
                PRICE<br>
                <span class="muted-font">per kWh</span>
              </div>
              <div class="bottom">
                <span class="bigFont">
                  {{sharedService.power.price | number: '1.2-2'}}
                </span>
                €
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <button [routerLink]="['/home']" class="w-100 mt-4 big-white-btn" mat-raised-button>Cancel</button>
    </div>

    <div class="col-8">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Add Value
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="input-calculator">
            <div class="price-limit">
              {{sharedService.priceLimit}}.00
            </div>
            <div class="currency">€</div>
            <div class="limitator"></div>
            <div class="approx-charge">
              <div class="top">Approx charge</div>
              <div class="bottom">
                <div class="power" *ngIf="sharedService.calculatedKwh > 0">{{sharedService.calculatedKwh | number: '1.0-0'}}</div>
                <div class="power" *ngIf="sharedService.calculatedKwh === 0">000</div>
                <div class="unit">kWh</div>
              </div>
            </div>
          </div>

          <div class="calculator">
            <div class="numpad">

              <ng-container *ngFor="let n of keyboardButtons; let i = index">
                <div class="calc-button">
                  <button mat-button (click)="numPadPressed(n.value)">
                    <span *ngIf="n.value != 'backspace'">
                      {{n.value}}
                    </span>

                    <span *ngIf="n.value === 'backspace'">
                      <img src="../../assets/img/numpad-backspace.svg" height="38">
                    </span>
                  </button>
                </div>
                <div class="break-column" *ngIf="(i + 1) % 3 == 0"> </div>
              </ng-container>

            </div>
            <div class="add-value-button" (click)="goToPayment(sharedService.priceLimit)" routerLinkActive="router-link-active">
              <!-- todo: @IvanBagaric: provjeriti jesam li pregazio nesto iz 'router-link-active' unutar funkcije 'goToPayment()' -->
<!--            <div class="add-value-button" [routerLink]="['/payment']" routerLinkActive="router-link-active">-->
              <span>
                Add Value
              </span>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
